#videos{
  display: flex;
  //background-color: cyan;
  background-image: url("../images/videos_test.jpg");
}

#currentVideo{
  //background-color: yellow;
  margin-left: 15%;
  width: 90%;
  min-width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#currentVideo>div{
  //background-color: rebeccapurple;
  height: 80%;
  width: 80%;
}

#fil_videos{
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 35%;
  width: 10%;
  height: 100%;
/*   display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; */
  position: relative;
  display: grid;
  grid-template-rows: 16% 16% 16% 16% 16%;
  grid-gap: 5%;
}

.v{
/*   height: 15%;
  width: 90%; */
  //background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.5);
  border-radius: 10% 10%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.v:nth-of-type(1){
  grid-row: 1;
}

.v:nth-of-type(2){
  grid-row: 2;
}

.v:nth-of-type(3){
  grid-row: 3;
}

.v:nth-of-type(4){
  grid-row: 4;
}
.v:nth-of-type(5){
  grid-row: 5;
}

.v>iframe{
  display: none;
}

.v>img{
  border-radius: 10% 10%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#videoSelected{
  filter: brightness(1);
  transition-duration: 0.5s;
}

.vCurrent{
  width: 100%;
  height: 100%;
}

#bougebouge{
  display: block;
  position: absolute;
  height: 16%;
  width: 90%;
  border-radius: 10% 10%;
  border: 2px solid white;
  top: 0;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}
